{% extends 'index.html' %}
{% block body %}

<div class="main">

    <div class="container">
        <div class="signup-content">
            <div class="signup-form">




                <form method="POST" class="register-form" id="register-form">



                  {% csrf_token %}
                  <h1 style="color:black">{{ form.name }}</h1>
                  <p style="color: black; text-align: justify; font-weight: normal;">{{ form.description }}</p>

                  {% if erro %}

                  <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {{ erro }}
</div>




                  {% endif %}
                  {% if subjects %}
                  <h2 style="color:black">Responda as  questões sobre cada disciplina abaixo:</h2>
                  {% for subject in subjects %}
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <button  type="button" class="btn btn-success pull-right" data-toggle="collapse" data-target="#subject_{{ subject.id }}"><i class="panel-control-icon glyphicon-plus glyphicon float-right"></i></button>
                          <div class="panel-title ">
                              <h4 >{{ subject }}</h4>
                          </div>
                      </div>
                      <div id="subject_{{ subject.id }}" class="panel-body collapse">
                        <ol>


                        {% for group in form.groups.all %}
                        <h3><li style="color:black">{{ group.name }}</li></h3>
                        <ol type="A">


                        {% for question in group.questions.all %}
                        {% if question.type == 'radio' %}
                        <div class="form-radio">
                            <div class="label-flex">
                                <label for="payment"><li>{{ question.name }}</li></label>
                            </div>
                            <div class="form-radio-group">
                              {% for option in question.options.all %}
                                <div class="form-radio-item">
                                    <input type="radio" required name="{{ question.public_id }}_by_{{ subject.id }}" id="{{ option.id }}_by_{{ question.public_id }}_by_{{ subject.id }}" value="{{ option.id }}">
                                    <label for="{{ option.id }}_by_{{ question.public_id }}_by_{{ subject.id }}">{{ option.name }}</label>
                                    <span class="check"></span>
                                </div>
                              {% endfor %}
                            </div>
                        </div>
                        <br>
                        {% endif %}
                        {% if question.type == 'text' %}

                        <div class="form-input">
                            <label for="{{ question.public_id }}_by_{{ subject.id }}">{{ question.name }}</label>
                            <textarea class="form-control" name="{{ question.public_id }}_by_{{ subject.id }}" id="{{ question.public_id }}_by_{{ subject.id }}"   /></textarea>
                        </div>

                        <br>
                        {% endif %}
                        {% endfor %}
                        </ol>
                        <br>
                        {% endfor %}
                        </ol>
                      </div>
                  </div>

                  {% endfor %}
                  {% endif %}
                  {% if grades %}
                  <div class="form-input">
                      <label for="matricula">Matrícula</label>
                      <input class="form-control" name="matricula" id="matricula"/ required >
                  </div>
                  <div class="alert alert-info fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    Sua matrícula é utilizada apenas com a finalidade de se ter um controle das respostas, e para remover respostas de alunos que não são de Engenharia Civil. <strong>Preencha corretamente sua matrícula e garanta sua contribuição. <br><br>As respostas não serão vinculadas às matrículas!</strong>
</div>
                  <h2 style="color:black">Selecione as disciplinas que você pagou no semestre 2018.2</h2>
                  {% for grade in grades %}
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <button  type="button" class="btn btn-success pull-right" data-toggle="collapse" data-target="#grade_{{ grade.number }}"><i class="panel-control-icon glyphicon-plus glyphicon float-right"></i></button>
                          <div class="panel-title ">
                            {% if grade.eletiva %}
                              <h4 >Disciplinas eletivas</h4>
                            {% else %}
                              <h4 >{{ grade.number }}º período</h4>
                            {% endif %}
                          </div>
                      </div>
                      <div id="grade_{{ grade.number }}" class="panel-body collapse">
                        {% for subject in grade.subjects %}
                        <label  class="checkbox-form">{{ subject.name }}
                            <input type="checkbox" name="subjects" value="{{ subject.id }}">
                            <span class="checkmark"></span>
                        </label>
                        {% endfor %}
                      </div>
                  </div>

                  {% endfor %}
                  {% endif %}



                  {% if success %}
                  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <p style="color:black"><strong>Enviado!</strong> Sua resposta para este formulário foi salva com sucesso. Obrigado por sua contribuição.</p>
    <p><a href="?" >Voltar ao formulário!</a></p>
</div>

                  {% else %}


                    <div class="form-submit">
                        <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                    </div>

                    {% endif %}
                </form>
            </div>
        </div>
    </div>

</div>


{% endblock %}

{% block extra_js %}
<script>

$(function(){
                     $("#register-form").validate();
             });



 </script>
{% endblock %}
